<h2 class="sub-header">Prometheus</h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Databases</h3>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Connector</th>
          <th>Host</th>
        </tr>
        </thead>
        <tbody>
        {{#each prometheus.databases}}
          <tr>
            <td class="text-center">
              {{#if connector.online}}
                <span class="bullet online"></span>
              {{else}}
                <span class="bullet offline"></span>
              {{/if}}
            </td>
            <td>{{name}}</td>
            <td>{{connector.name}}</td>
            <td>{{connector.host}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
